@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}


::selection {
  background-color: #FF0000; /* Цвет фона выделения (красный) */
  color: white; /* Цвет текста выделения */
}

/* Для браузера Firefox */
::-moz-selection {
  background-color: #FF0000; /* Цвет фона выделения (красный) */
  color: white; /* Цвет текста выделения */
}
