<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Password Reset</title>
    <link href="{{ url_for('static', path='/success_password_reset.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="success-icon">✔</div>
        <div class="message">Password Reset Successful!</div>
        <div class="sub-message">Hi, {{user.username}}.Your password has been successfully updated. Thank you!</div>
        <a href="/" class="button">Go to Homepage</a>
    </div>
</body>

</html>