<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Verification</title>
    <link href="{{ url_for('static', path='/success_verification.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="success-icon">✔</div>
        <div class="message">Verification Successful!</div>
        <div class="sub-message">Hi, {{user.username}}.Your {{user.email}} has been successfully verified. Thank you!
        </div>
        <a href="{{home_link}}" class="button">Go to Homepage</a>
    </div>
</body>

</html>